* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #000000;
    color: #ffffff;
}

#workspaces button {
    all: unset;
    padding: 5px 10px;
    background: transparent;
    color: #ffffff;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
    margin-right: 5px;
    border-radius: 5px;
}

#workspaces button:hover {
    border: 2px solid rgba(140,170,238,1);
}

#workspaces button.active {
    background: rgba(140,170,238,0.25);
}

#battery,
#clock {
    padding: 0 10px;
}
