* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
}

#workspaces button {
    all: unset;
    padding: 5px 10px;
    background: transparent;
    color: #ffffff;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
    margin-right: 5px;
    border-radius: 5px;
}

#workspaces button:hover {
    color: rgba(140, 170, 238, 1);
}

#workspaces button.active {
    color: rgba(140, 170, 238, 1);
}

#network,
#battery,
#clock {
    margin-right: 10px;
}

#network {
    font-size: 16px;
    padding: 0 10px;
    margin-top: -1px;
}

#battery {
    font-size: 14px;
    color: white;
}

#battery.charging,
#battery.full {
    color: #a3be8c; /* green */
}

#battery.warning {
    color: #ebcb8b; /* yellow */
}

#battery.critical {
    color: #bf616a; /* red */
}

#network.disconnected {
    color: #bf616a; /* red */
}

#clock,
#memory {
    font-size: 14px;
}
