* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
}

#workspaces button {
    all: unset;
    padding: 5px 10px;
    background: transparent;
    color: #ffffff;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
    margin-right: 5px;
    border-radius: 5px;
}

#workspaces button:hover {
    color: rgba(140, 170, 238, 1);
}

#workspaces button.active {
    color: rgba(140, 170, 238, 1);
}

#battery,
#clock {
    padding: 0 10px;
}

#battery {
    color: white;
}

#battery.charging,
#battery.plugged {
    color: #a3be8c; /* green */
}

#battery.warning {
    color: #ebcb8b; /* yellow */
}

#battery.critical {
    color: #bf616a; /* red */
}

#battery,
#network {
    color: white;
    font-size: 12px;
    font-weight: 900;
}

#network.disconnected {
    color: #bf616a; /* red */
}
