window {
    margin: 0px;
    border: 1px solid #333333;
    background-color: rgba(30, 30, 30, 0.95);
    border-radius: 10px;
}

#input {
    all: unset;
    padding: 10px;
    margin: 5px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: transparent;
    border-radius: 0;
}

#input:focus {
    border: none;
    outline: none;
}

#input * {
    border: none;
    outline: none;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: rgba(255,255,255,0.5);
}

#entry:selected {
    background-color: transparent;
    border-width: 0;
    border-color: transparent;
    outline: none;
    border-radius: 0;
}

#entry:selected #text {
    color: rgb(166,209,137);
}
